{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
  $(function () {

    $('#changepasswordForm').validate({
    // onkeyup: true,
      rules: {
         username: {
          required: true,
        },
        password: {
          required: true,
        },
           newpassword: {
          required: true,
          minlength: 6
        },
        confirm: {
          required: true,
          equalTo: $('[name="newpassword"]')
        },
      },
      messages: {
        username: {
          required: 'Your username is required.',
        },
        newpassword: {
          required: 'Your password is required.',
          minlength: 'Your password must have at least 6 characters.'
        },
        password: {
          required: 'Your old password is required.',
        },
        confirm: {
          required: 'Your password does not match.',
          equalTo: 'Your password does not match.'
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      validClass: 'is-valid',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      },
    });
  })
</script>
{{/section}}
<!DOCTYPE html>
<html>

<head>
  <title>Express App</title>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
  <style>
    body,
    html {
      height: 100%;
      background-size: cover;
background-repeat: no-repeat;
      background-image: url('http://thuthuatphanmem.vn/uploads/2018/08/21/hinh-nen-thien-nhien-phong-canh-dep-82_043205977.jpg');
    }


.card{
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
  </style>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div>
        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{err_message}}
        </div>
        {{/if}}
        <div class="card ">
          <div class="card-header">
             <h1 style="color: #FFFF;">Change Password</h1>
              <hr style="border-color: #fff;" class="w-50">
           </div> 
          <div class="card-body">
        <form method="POST" id="changepasswordForm" novalidate>
          <div class="form-group">
              <input class="form-control form-control-lg border-right-0 border" placeholder="User name" type="text"
                name="username" autofocus>
         </div>
          <div class="form-group">
              <input class="form-control form-control-lg border-right-0 border" placeholder="Old Password" type="password"
                name="password">
          </div>
          <div class="form-group">
              <input class="form-control form-control-lg" placeholder="New Password" type="password"
                name="newpassword" >
              </div>
          <div class="form-group">
              <input class="form-control form-control-lg border-right-0 border" placeholder="Confirm Password" type="password"
                name="confirm">
          </div>
        
          <div class="form-group d-flex">
            <div>
              <a class="btn btn-lg btn btn-success btn-block" href="/" role="button">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
              </a>
            </div>
            <div class="flex-fill ml-1">
              <button class="btn btn-info btn-lg btn-block" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Save
              </button>
            </div>
          </div>        
        </form>
         <hr style="border-color: #fff;" class="w-50">
        </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>