{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
  $(function () {

    $('#forgotpasswordForm').validate({
    // onkeyup: true,
      rules: {
         f_Email: {
          required: true,
        },
      },
      messages: {
        f_Email: {
          required: 'Your Email is required.',
        },
      },
      errorElement: 'small',
      errorClass: 'help-block text-danger',
      validClass: 'is-valid',
      highlight: function (e) {
        $(e).removeClass('is-valid').addClass('is-invalid');
      },
      unhighlight: function (e) {
        $(e).removeClass('is-invalid').addClass('is-valid');
      },
    });
  })
</script>
{{/section}}
<!DOCTYPE html>
<html>

<head>
  <title>Express App</title>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
  <style>
    body,
    html {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('http://www.teleamazonas.com/wp-content/uploads/2017/04/planetas.jpg');
    }

    .has-search .form-control {
      padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    }

    .card{
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
  </style>
</head>

<body >
  <div class="container-fluid" >
    <div class="row justify-content-center align-items-center h-100">
      <div>
        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{err_message}}
        </div>
        {{/if}}
        <div class="card">
            <div class="card-header">
             <h4 style="color: #FFFF;">FORGOT YOUR PASSWORD?</h4>
             <h5 style="color: #FFFF;"> Please enter your details below.</h3>
              <hr style="border-color: #fff;" class="w-60">
           </div> 
          <div class="card-body">
        <h5 style="color: #FFFF;"> EMAIL ADDRESS</h3>
        <form method="POST" id="forgotpasswordForm">
          <div class="form-group">
           <input class="form-control form-control-lg border-right-0 border" placeholder="example@gmail.com" type="text"
                name="f_Email">
          </div>
          
          <div class="form-group d-flex">
            <div>
              <a class="btn btn-lg btn btn-success btn-block" href="/account/login" role="button">
             <i class="fa fa-undo"></i>
                Sign In
              </a>
            </div>
            <div class="flex-fill ml-1">
              <button class="btn btn-info btn-lg btn-block" type="submit">
               <i class="fa fa-save" aria-hidden="true"></i>
                Send
              </button>
            </div>
          </div>        
        </form>
        </div>
        </div>
      </div>
   </div>
   </div>
</body>

</html>