.navbar{
    background: #008B8B !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    margin-top: 5px;
    background: #008B8B;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#1E90FF;
    color:#fff;
}
.dropdown-menu a{
    background: #008B8B;
    border: 0px;
    color: #fff;
} 
.navbar .nav-item .nav-link{
    color:#fff !important;    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}